@media (max-device-width:767px){
    .navigation{
        position: relative;
        width: 100%;
        margin: 0 auto;
        position: sticky;
    }
    nav{
        position: absolute;
        width: 100%;
        padding-bottom: 10px;
        background-color: black;
    }
    #logo{
        margin-top: 10px;
        font-size: 30px;
        z-index: 1;
        margin-left: 10px;
    }
    nav ul{
        position: absolute;
        background-color: black;
        flex-direction: column;
        width: 100%;
        opacity: 0.8;
        top: -600px;
        transition: all 0.5s;
    }
    /* nav ul li:hover{
        background-color: orangered;
    } */

    .myicon{
        position: absolute;
        display: block;
        border: 1px solid white;
        border-radius: 5px;
        padding: 8px;
        top: 15px;
        font-size: 25px;
        right: 15px;
        color: aliceblue;
    }
    #ck{
        position: absolute;
        display: block;
        width: 100%;
        top: 15px;
        right: 15px;
        height: 40px;
        width: 40px;
        opacity: 0;
        cursor: pointer;  
    }
    #ck:checked ~ ul{
        top: 60px;
    }
    #ck:checked ~ .myicon{
     background-color: orangered;
    }
    /* -----------we are cosmos--- */
    .s1 .text1{
        width: 90%;
    }
    .s1 .text1 h5{
        font-size: 30px;
    }
    .s1 .text1 h2{
        font-size: 25px;
        font-weight:400;
        width: 100%;
    } 
    .s1 .text1 p{
        font-size: 20px;
        width: 100%;
    }

    /* ==============ABOUT US==== */
    .s2 .text2 {
        width: 100%;
    }
     .text3 {
        flex-direction: column;
        width: 100%; 
    }
    .text33 h2{
         width: 80%;
         margin: 0 auto;
         padding: 5px;      
    }
    .text33 p{
         width: 80%;
         margin: 0 auto;
         padding: 5px;      
    }
    .text34 img{
        margin: 0 auto;
        width: 100%;
    }
    /* =======oranged==== */
    .s4 .text4{
        flex-direction: column;
        width: 100%; 
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text44{
        width: 80%;
        font-size: 10px;
        text-align: justify;
    }
    .text44 p{
        width: 100%;
        padding-bottom: 5px;
    }
    .download a{
        padding: 3px;
        font-size: 10px;
    }
    /* === */
    /* ==table 1,,2== */
    .s6{
        margin: 0 auto;
        width: 100%;
    }
    .text6{
        flex-direction: column;
        width: 80%;
        margin:0 auto;
        padding-left: 50px;
        justify-content: space-evenly;
    }
    .text7{
        flex-direction: column;
        width: 80%;
        margin:0 auto;
        padding-left: 50px;
        justify-content: space-evenly;
    }
    .font{
        margin-bottom: 20px;
    }
    .text61{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        /* height: 20%; */
    }
    /* ==== */
    .text611 p{
        width: 100%;
        padding-bottom: 30px;
    }
    /* =============== */
    
    .text8{
        flex-direction: column;
        width: 80%;
    }
    .s8{
        width: 100%;
    }
    .bar0{
        /* margin: 0 auto; */
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .bar1 p{
        left: 80%;
    }
    .bar2 p{
        left: 65%;
    }
    .bar3 p{
        left: 50%;
    }
    .bar4 p{
        left: 60%;
    }
    .bar11,.bar22,.bar33,.bar44{
        width: 100%;
        margin: 0 auto;
        top: 5px;
    }
    .img8 img{
        width: 100%;
        margin: 0 auto;
    }
    /* ===AWESOME FEATURES============= */
    /* ==================== */
    /* ====icon==== */
    .text10{
        width: 80%;
        margin: 0 auto;
    }
    .text10 ul{
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: auto;
    }
    .text10 li{
        margin: 0 auto;
    }
    /* =====text 11=== */
    .text11{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .text111 p{
        width: 100%;
        text-align: justify;
    }
    .img11 img{
        width: 100%;
        margin: 0 auto;
    }
    /* =======text 12===== */
    /* =================== */
    /* ============= */
    .text13{
        width: auto;
    }

    .text13 ul{
        flex-direction: column;
        /* margin-left: 0px; */
        margin: 0 auto;
        width: 60%;
    }
    .text13 li{
        width: auto;
        justify-content: center;
    }
    /* ======GRID======== */
    .text14{
        width: 100%;
    }
    .grid-container {
        grid-template-columns:
        auto ;
        grid-gap :20px;
        margin: 0 auto;
    
    }
    .img21, .img22, .img23, .img24, .img25, .img26{
        width: 80%;
        margin: 0 auto;
    }
  
    /* ====our services=== */
    /* =================== */
    /* === our team=== */
    .text15{
        width: 80%;
        flex-direction: column;
    }
    .text51{
        width: 100%;
        margin-bottom: 30px;
    }
    /* ===== S14=== */
    .s14{
        width: 80%;
    }
    .text16{
        width: 100%;
    }
    .text16 h3,h5{
        font-size: 15px;
        padding: 0px;
    }
    .text16 p{
        font-size: 12px;
        padding: auto;
    }
    /* ======views==== */
    .text17{
        width: 100%;
        margin: 0 auto;
    }
    .text17 ul{
        width: 90%;
        flex-direction: column;
        padding-bottom: 45px;
    }
    .text17 li{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
        border-right: 0px;
        padding-top: 5px;
        border-bottom: 2px black solid;
    }
    /* ======== blog=== */
    .s16{
        width: 100%;
        margin: 0 auto;
    }
    .blogs{
        width:100%;
        flex-direction: column;
    }
    .blog1{
        margin: 0 auto;
        width: 80%;
    }
    .datee{
        height: auto;
        width: auto;
    }
    /* ====== MARQUEE==== */
    .textmarq{
        width: 100%;
    }

    /* ==== contact */
    .s18{
        width: 100%;
        margin: 0 auto;
    }
    .text18{
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }
    .text188 ul{
        flex-direction: column;

    }
    .inputbox{
        width: 100%;
        margin-left: 10px;
    }
    .boxin1{
        flex-direction: column;
    }
    .in11{
        width: 100%;
        margin-bottom: 20px;
    }
    .in111{
        width: 100%;
        margin-bottom: 20px;
    }
    .in3{
        margin-bottom: 20px;
    }
    .in4{
        margin-bottom: 20px;
    }
  /* === orange 2 === */
  .line{
      width: 90%;
      height: 40px;
      font-size: 20px;
  }
  /* social icon */
  .s19{
      width: 100%;
      margin: 0 auto;
      padding-top: 20px;
  }
  /* =========== */
  .text19{
      width: 80%;
      margin: 0 auto;
  }
  
  .endicon .ic{
      height: 50px;
      width: 50px;
  }
  .endicon {
      flex-wrap: wrap;
      padding: 10px;
      margin-left: 20px;
  }
  /*  footer */
  .fotter{
      width: 80%;
  }
  body{
      width: 100%;
  }



   

   



}